* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    background-color: #E5E5E5;
}

.bg-white {
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    align-items: center;
    height: 70px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.buttons-header {
    /* ! all: unset => resetar toda a estilização */
    all: unset;
    color: #545454
}

.buttons>a {
    text-decoration: none;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 140px;
}

.subtitle {
    font-size: 12px;
    color: #929292;
}

.post-top {
    padding: 24px;
}

.grid-main {
    display: grid;
    grid-area: "post1";
    grid-gap: 40px;
}

.gridsize {
    width: 730px;
    margin-right: 50px;
    border-radius: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340px;
    height: 1396px;
    padding: 20px;
    border-radius: 10px;
}

.sidebar>input {
    height: 42px;
    padding: 10px;
}

.sidebar>input:active {
    border: unset;
    border: 2px solid #FE0078;
}

h2 {
    border-left: 3px solid #FE0078;
    padding-left: 10px;
    font-size: 18px;
}

h3 {
    font-size: 24px;
}

.listaFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px dotted rgb(0, 0, 0, 0.3);
    color: #545454;
    width: 95%;
}

.categorias {
    width: 340px;
}

.categorias>ul {
    list-style-type: none;
    width: 340px;
}

.publicidade {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.publi-grid1, .publi-grid2, .publi-grid3 {
    display: flex;
    font-size: 20px;
    background-color: #eeeeee;
    width: 340px;
    height: 240px;
    margin-top: 38px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

footer {
    display: flex;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 70px;
    color: white;
    justify-content: center;
    align-items: center;
}

/*? CSS PAGE ABOUT */

.infoContato {
    padding: 24px;
}

.infoEndereco, .infoSuporte, .infoTelefone {
    display: flex;
    flex-direction: row;
}

.infoEndereco>img, .infoSuporte>img, .infoTelefone>img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.boxComentarios {
    padding: 24px;
}

.dados {
    display: flex;
    flex-direction: row;
}

.dadosAssunto, .dadosEmail, .dadosNome, .comentario {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dadosNome>input, .dadosEmail>input {
    width: 95%;
}

.dadosEmail {
    margin-left: 20px;
    margin-right: -12px;
}

.comentario>input {
    height: 150px;
}

.comentario>textarea {
    height: 100px;
    width: 100%;
    resize: none;
}

.botaoEnviar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
}

.botaoEnviar>button {
    all: unset;
    padding: 12px 24px;
    border-radius: 30px;
    background-color: #FE0078;
    color: white;
}

/* ? CSS PARA HOVER, ACTIVE */

.listaFlex:focus, .listaFlex:hover {
    color: #FE0078;
    border-bottom: 2px dotted #FE0078;
    cursor: pointer;
}

.sidebar>input:focus, .sidebar>input:hover {
    border-radius: 20px;
    border-color: #FE0078;
    cursor: pointer;
}

.buttons>a:hover, buttons>a:active {
    border: 1px solid rgb(254, 0, 119, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.buttons>a:active {
    background-color: rgb(254, 0, 119, 0.4);
    cursor: pointer;
}

/*! acima é de todas as páginas, abaixo somente desta*/

.comentario>textarea:focus, .dadosNome>input:focus, .dadosEmail>input:focus {
    outline-color: #FE0078;
}